
// Bootstrap
@import "~bootswatch/dist/cosmo/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/cosmo/bootswatch";

// just to make sure React hook doesn't break layout
body, html, #react-root {
    height: 100%;
    min-height: 100%;
}

// gradient design https://uigradients.com/#VisionsofGrandeur
body {
    background: linear-gradient(to right, #000046, #1cb5e0);
}
